<div class="container mt-4">
  <div class="card-border-profile">
    <div class="position-absolute top-50 start-0 translate-middle-y mt-4 ml-3">
    <%= cl_image_tag current_user.photo.key, height: 150, width: 150, class:"avatar-profile" %>
    </div>
    <div class="text-center">
      <h1 class="p-3"><%= current_user.first_name.capitalize %> <%=current_user.last_name.capitalize  %></h1>
      <h3 class="mt-2">Minhas Contribuições</h3>
    </div>

    <div class="d-flex justify-content-around mt-4">
      <div class= "d-flex flex-column align-items-center">
        <h5><%= @orders.empty? ? "0" : @orders.size%> </h5>
        <h5 class="mt-2 pb-3">Refeições salvas</h5>
      </div>

      <div class= "d-flex flex-column align-items-center">
        <h5><%= @orders.size * 0.46 %></h5>
        <h5 class="mt-2 pb-3">Kg salvos</h5>
      </div>
    </div>
  </div>


    <div>

      <div id="accordion">
        <div>
          <div class="accordion-card mb-2" id="headingOne">
            <h5 class="mb-0">
            <button class="btn btn-link m-0 decoration-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Meus dados
            </button>
            </h5>
            <i class="fas fa-sliders-h" style="margin-left:83%"></i>
          </div>
       <div>

       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="d-flex flex-column">
            <h4><strong>Nome:</strong></h4>
            <%= current_user.first_name.capitalize %> <%=  current_user.last_name.capitalize %>
              <h4 class="mt-4"><strong>E-mail:</strong></h4>
              <%=  current_user.email %>
              <h4 class="mt-4"><strong>Telefone:</strong></h4>
              <%=  current_user.phone %>
              <h4 class="mt-4"><strong>Data de Nascimento:</strong></h4>
              <%=  current_user.birthday %>
              <p> <%= link_to "Editar dados", edit_user_registration_path %></p>
          </div>
        </div>
      </div>

      <div id="accordion">
        <div>
          <div class="accordion-card" id="headingTwo">
            <h5 class="mb-0">
            <button class="btn btn-link m-0 decoration-none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Meus Pedidos
            </button>
            </h5>
            <i class="fas fa-utensils" style="margin-left:82%"></i>
          </div>
       <div>

       <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="d-flex flex-column">
          <% unless @orders.empty? %>
          <% @orders.each do |order| %>
            <div class="card p-3">
            <h3><strong><%=order.dish.restaurant.name%></strong></h3>
            <h6><strong>Nome:</strong> <%=order.dish.name%></h6>
            <h6><strong>Endereço:</strong> <%=order.dish.restaurant.address%></h6>
            <h6><strong>Preço:</strong> R$<%=order.dish.price %></h6>
          </div>
          <% end %>
        <% else %>
        <p>Não há pedidos ainda</p>
        <% end %>
          </div>
        </div>
      </div>




