<div class="container-fluid mt-4">
  <div class="row justify-content-center">
  <%= render 'restaurants/sidebar', restaurant: @restaurant %>
  <div class="card-dish m-3 p-3 card-border" style="width: 60%">
    <h1>Lista de todos os pedidos</h1>
  </div>
  <table class="table table-success table-striped" style="width: 60%">
    <thead>
      <tr>
        <th scope="col">Nome do cliente: </th>
        <th scope="col">Contato: </th>
        <th scope="col">Refeição: </th>
        <th scope="col">Preço: </th>
        <th scope="col">Data: </th>
      </tr>
    </thead>
    <tbody>
     <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.first_name} #{order.user.last_name}" %></td>
        <td><%= order.user.phone %></td>
        <td><%= order.dish.name %></td>
        <td>R$ <%= order.dish.price %></td>
        <td><%= order.dish.created_at.to_formatted_s(:short) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

