<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.rd.com/wp-content/uploads/2016/07/03-healthy-lunch-break-packed-lunch.jpg');">
  <div class="container">
    <h1>
      <span id="banner-typed-text" class="banner-area"></span>
    </h1>
    <h1>Pra quem quer pagar <strong>pouco e ajudar o planeta</strong></h1>

    <h1>Busque sua próxima refeição:</h1>
    <div class="my-4">
      <%= simple_form_for :search, url: dishes_path, defaults: {label: false}, method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :category,
                      label: "",
                      as: :check_boxes,
                      include_blank: false,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item',
                      collection: ["Árabe", "Chinesa", "Japonesa", "Lanche", "Marmita", "Padaria", "Pizza"] %>
          <%= f.input :address, input_html: { class:"form-control string required" }, label: false, placeholder: "Insira um endereço" %>
          <%= f.button :submit, "Buscar", class:"btn btn-flat" %>
        </div>
      <% end %>
    </div>

    <p class="mt-5">Quer ser parceiro Sobrou? <span> <%= link_to "Cadastre seu Restaurante", new_restaurant_path, class:"btn-ghost" %> </span> </p>
    <h1 class= "mt-5">Confira no mapa abaixo os restaurantes cadastrados perto de você:</h1>
  </div>
</div>

<div id="map"
   style="width: 100%; height: 600px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
