<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://nutriconsultoria.net/wp-content/uploads/2016/09/prato-saud-vel.jpg');">
  <div class="container">
    <h2>
      <span id="banner-typed-text" class="banner-area"></span>
    </h2>
    <h2>Pra quem quer pagar <strong>pouco e ajudar o planeta</strong></h2>
    <h2>Busque aqui e encontre sua próxima refeição:</h2>
    <div class="my-4">
      <%= simple_form_for :search, url: dishes_path, defaults: {label: false}, method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :address, input_html: { class:"form-control string required", id:"busca" }, label: false, placeholder: "Insira o endereço de retirada" %>
          <%= f.button :submit, "Buscar", class:"btn btn-flat" %>
          <p>Selecione os filtros desejados:</p>
          <%= f.input :category,
                      label: "",
                      required: false,
                      as: :check_boxes,
                      include_blank: false,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item',
                      collection: ["Árabe", "Brasileira", "Chinesa", "Italiana", "Japonesa", "Lanche", "Padaria", "Pizza",] %>
        </div>
      <% end %>
    </div>
    <div class="banner-registration">
      <div class="d-flex flex-row justify-content-left align-items-center">
        <p class="mt-2 text-white">Seja parceiro: </p>
        <%= link_to "Cadastre seu restaurante", new_restaurant_path, class:"btn-ghost text-white ml-1" %>
      </div>
    </div>
    <h2 class= "mt-5">Confira no mapa os restaurantes parceiros:</h2>
  </div>
</div>
<div class="container">
   <div class="row justify-content-center">
    <div id="map" class="col-12"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
