<div class="container mt-4">

  <%= simple_form_for [restaurant, dish] do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :pickup %>
    <%= f.input :quantity %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class:"btn-dashboard btn-segundo" %>
  <% end %>

</div>
