<div class="container mt-4">

  <%= simple_form_for [restaurant, dish] do |f| %>
    <%= f.input :name, label: "Nome" %>
    <%= f.input :price, label: "Preço (R$)" %>
    <%= f.input :description, label: "Descrição do prato" %>
    <%= f.input :pickup, label: "Horário de retirada" %>
    <%= f.input :quantity, label: "Quantidade de pratos" %>
    <%= f.input :photo, as: :file, label: "Insira uma foto" %>
    <%= f.button :submit, "Criar prato", class:"btn-dashboard btn-segundo"%>
  <% end %>

</div>
