<div class="p-4 rounded">
  <h1>Adicione o prato aqui</h1>
  <p>Conte-nos um pouco sobre a comida que você oferecerá em suas bolsas mágicas.</p>
  <div class="container mt-4">
    <%= simple_form_for [@restaurant, @dish] do |f| %>
      <%= f.input :name, label: "Nome", input_html: { maxlength: '22' } %>
      <%= f.input :price, label: "Preço (R$)", input_html: { min: '0', step: 'any' }  %>
      <%= f.input :description, label: "Descrição do prato", input_html: { maxlength: '47' } %>
      <%= f.label :data_de_retirada %>
      <%= f.date_field :date, min: Date.today %>
      <br>
      <%= f.label :horário_mínimo_de_retirada %>
      <%= f.time_field :start_time %>
      <br>
      <%= f.label :horário_máximo_de_retirada %>
      <%= f.time_field :end_time %>
      <br>
      <%= f.input :quantity, label: "Quantidade de pratos" %>
      <%= f.input :photo, as: :file, label: "Insira uma foto" %>
      <%= f.button :submit, "Criar prato", class:"btn btn-bg w-100"%>
    <% end %>
  </div>
</div>
