<div class="row no-gutters justify-content-center rounded">
  <div class="row">
    <div class="col-12">
      <h1 class="card-title"><%= dish.name %>
        <% dish.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 mb-3">
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill, class:"rounded mb-3"%>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4> <%= link_to "Veja todos os pratos de #{dish.restaurant.name}", restaurant_path(dish.restaurant),  class:"card-title" %> </h4>
        <h5 class="card-title"> <%="Avaliação de #{dish.restaurant.name}:"%>
            <% dish.restaurant.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
        </h5>
        <hr>
        <h5 class="card-text"> <%= dish.description %> </h5>
        <h5 class="card-text"><b>Preço:</b> R$ <%= dish.price %></h5>
        <hr>
        <h5 class="card-text"> <b>Retire seu pedido em:</b> <%= dish.restaurant.address %></h5>
        <h5 class="card-text"><b>Retirada até às</b> <%= dish.pickup %></h5>
      </div>
      <div class="ml-3">
        <%= simple_form_for [dish, order] do |f| %>
          <button id="sweet-alert-demo" class="btn btn-flat">Reserve já!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>



