<div class="container-fluid">
  <div class="row justify-content-center">
    <%= render 'restaurants/sidebar', restaurant: @restaurant %>
    <div class="card-dish mt-2 p-3 card-border-login" style="width: 50%">
      <h1>Edite o seu prato aqui:</h1>
      <%= simple_form_for @dish do |f| %>
        <%= f.input :name, label: "Nome" %>
        <%= f.input :price, label: "Preço (R$)" %>
        <%= f.input :description, label: "Descrição do prato" %>
        <%= f.label :data_de_retirada %>
        <%= f.date_field :date, min: Date.today %>
        <br>
        <%= f.label :horário_mínimo_de_retirada %>
        <%= f.time_field :start_time %>
        <br>
        <%= f.label :horário_máximo_de_retirada %>
        <%= f.time_field :end_time %>
        <br>
        <%= f.input :quantity, label: "Quantidade de pratos" %>
        <%= f.input :photo, as: :file, label: "Insira uma foto" %>
        <%= f.button :submit, "Atualizar prato", class:"btn btn-flat w-100"%>
      <% end %>
    </div>
  </div>
</div>
