<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <%= render 'restaurants/sidebar' %>
  <div class="card-dish m-2 p-3 ml-5 card-border" style="width: 60%">
    <h1>Refeições Disponíveis</h1>
  </div>
  <div class="card-dish m-2 p-3 ml-5 card-border" style="width: 60%">
    <% @dishes.each do |dish| %>
      <% if dish.quantity > 0 %>
        <div class="card mb-3 m-5 p-3" style="max-width: 650px">
          <div class="row g-0">
            <div class="col-md-6">
              <%= cl_image_tag dish.photo.key, width: 300 %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h4 class="card-title"> <%= dish.name %> </h4>
                <h5 class="card-text"><strong><%= dish.restaurant.name %></strong> </h5>
                <p class="card-text">R$ <%= dish.price %> </p>
                <p class="card-text"><%= dish.description %> </p>
                <%= link_to "Editar", edit_dish_path(dish), class:"btn btn-flat" %>
                <%= link_to "Excluir", dish_path(dish), method: :delete, data: { confirm: "Você tem certeza?" }, class:"btn btn-flat" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


