<div class="container mt-5">
  <% if @dishes.count.positive? %>
    <h1 class="title-h1">Confira os pratos disponíveis</h1>
    <h3>Faça sua reserva, mate sua fome e ainda ajude o planeta!</h3>
  <% else %>
    <h1 class="title-h1">Oops, não temos restaurantes próximos por aqui hoje 😫</h1>
    <p class="text-center mt-5"><%= link_to "Ver outros endereços", root_path, class: "bcolor btn btn-flat" %> </p>
  <% end %>
  <div class="row justify-content-between">
    <% @dishes.each do |dish| %>
      <% if dish.quantity > 0 %>
        <div class="card mb-3 rounded" style="max-width: 560px">
          <div class="row g-0 align-items-center rounded">
            <div class="col-6 col-lg-6">
              <%= cl_image_tag dish.photo.key, width: 300, class:"rounded" %>
            </div>
            <div class="col-6 col-lg-6">
              <div class="card-body">
                <h4 class="card-title">
                  <%= dish.name %>
                  <h5 class="card-title">
                  <% if !dish.rating.nil? %>
                    <% dish.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <% end %>
                  </h5>
                </h4>
                <h5 class="card-text"><strong><%= dish.restaurant.name %></strong> </h5>
                <p class="card-text">R$ <%= dish.price %> </p>
                <p class="card-text"><%= dish.description %> </p>
                <hr>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-flat" data-toggle="modal" data-target=<%="#dish-#{dish.id}"%>>
                  Veja detalhes
                </button>

                <!-- Modal -->
                <div class="modal fade rounded" id=<%="dish-#{dish.id}"%> tabindex="-1" aria-labelledby=<%="#dish-#{dish.id}Label"%> aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg rounded">
                    <div class="modal-content p-3 rounded">
                      <%= render 'show', dish: dish, order: @order %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


