<nav class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
        Sobrou
      <% end %>
  <div class="nav-search">
    <%= simple_form_for :search, url: dishes_path, defaults: {label: false}, method: :get do |f| %>
      <div class="search-form-control-nav form-group">
        <div>
          <%= f.input :address, input_html: { class:"form-control string required"}, label: false, placeholder: "Insira seu endereço de retirada" %>
          <%= f.button :submit, "Buscar", class:"btn btn-flat-nav" %>
        </div>
      </div>
    <% end %>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <% if current_user.owner? %>
            <li class="nav-item">
              <%= link_to "Gerenciar meus restaurantes", restaurants_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
              <%= link_to "Meu Perfil", profile_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <%= cl_image_tag current_user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cadastre aqui", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <% if @dishes.count.positive? %>
    <h1 class="title-h1">Pratos disponíves próximos a você</h1>
    <h3>Clique em um dos pratos, faça sua reserva, mate sua fome e ainda ajude o planeta!</h3>
  <% else %>
    <h1 class="title-h1">Oops, não temos restaurantes próximos por aqui hoje 😫</h1>
    <p class="text-center mt-5"><%= link_to "Ver outros endereços", root_path, class: "bcolor btn btn-flat" %>
  <% end %> </p>
  <div class="row justify-content-between">
    <% @dishes.each do |dish| %>
      <% if dish.quantity > 0 %>
        <div class="card mb-3 rounded" style="max-width: 560px">
          <div class="row g-0 align-items-center rounded">
            <div class="col-md-6 ">
              <%= cl_image_tag dish.photo.key, width: 300, class:"rounded" %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h4 class="card-title">
                  <%= dish.name %>
                  <h5 class="card-title">
                    <% if !dish.rating.nil? %>
                      <% dish.rating.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                    <% end %>
                  </h5>
                </h4>
                <h5 class="card-text"><strong><%= dish.restaurant.name %></strong> </h5>
                <p class="card-text">R$ <%= dish.price %> </p>
                <p class="card-text"><%= dish.description %> </p>
                <hr>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-flat" data-toggle="modal" data-target=<%="#dish-#{dish.id}"%>>
                  Veja detalhes
                </button>

                <!-- Modal -->
                <div class="modal fade rounded" id=<%="dish-#{dish.id}"%> tabindex="-1" aria-labelledby=<%="#dish-#{dish.id}Label"%> aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg rounded">
                    <div class="modal-content p-3 rounded">
                      <%= render 'show', dish: dish, order: @order %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


