<div class="container mt-4">

  <h1><b><%= @dish.restaurant.name %></b> - <%= @dish.name %></h1>

  <h4><b>Retire seu pedido em:</b> <%= @dish.restaurant.address %></h4>

  <div>
    <div class="d-flex justify-content-between p-5 row">
      <div class="p-3 card-border">
        <%= cl_image_tag @dish.photo.key, height: 300, width: 400, crop: :fill %>
        <p> <%= @dish.description %> </p>
        <hr>
        <div class="d-flex justify-content-between">
        <ul>
          <li><b>Preço:</b> <%= @dish.price %></li>
          <li><b>Tipo:</b> <%= @dish.restaurant.category %></li>
          <li><b>Retirada até às</b> <%= @dish.pickup %></li>
        </ul>
          <%= simple_form_for [@dish, @order] do |f| %>
            <%= f.button :submit, class:"btn btn-flat" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
