<div class="container mt-4">

  <h1><%= @dish.restaurant.name %> - <%= @dish.name %></h1>

  <h4><b>Retire seu pedido em:</b> <%= @dish.restaurant.address %></h4>

  <div>
    <div class="d-flex justify-content-between p-5 row">
      <div class="p-3 card-border">
        <%= cl_image_tag @dish.photo.key, height: 300, width: 400, crop: :fill %>
        <p> <%= @dish.description %> </p>
        <hr>
        <div class="d-flex justify-content-left">
          <p>Preço:</p>
          <p class="ml-2"> <%= @dish.price %> </p>
          <hr>
          <%= link_to "Reserve este prato aqui", dish_orders_path(@dish), method: :post, class:"btn btn-success ml-5" %>
        </div>
      </div>
    </div>
  </div>
</div>
