<h1>Detalhes do <%= @restaurant.name %></h1>
<p>Veja abaixo: </p>

<p>Nome: <%= @restaurant.name %> </p>
<p>Endereço: <%= @restaurant.address %> </p>
<p>Categoria: <%= @restaurant.category %> </p>
<p>Telefone: <%= @restaurant.phone %> </p>
